<header>
    <div class="logo-container">
        <div class="logo"><a>Website</a></div>
        <nav>
            <ul>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="icons">
        <div class="search-bar">
            <input class="search-input" type="text" placeholder="Search...">
            <div class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
        <a href="#"><i class="fa-solid fa-user"></i></a>
        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
</header>