<header>
    <div class="logo-container">
        <div class="logo"><a href="#">Website</a></div>
        <nav>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="icons">
        <a href="#"><i class="fa-solid fa-user"></i></a>
        <a href="#"><i class="fa-solid fa-chart-simple"></i></a>
    </div>
</header>