<% layout("layouts/boilerplate") %>

<body>
    <div class="page-heading">
        <h1>Shopping Cart</h1>
    </div>
    <div class="cart-container">
        <div class="cart-customer-product">
            <!-- <div class="cart-product"> 
                <div class="cart-product-preview">
                    <div class="cart-image"><img src="/images/product_test_image.jpg" alt="prodImg"></div>
                    <div class="cart-details">
                        <div class="cart-prod-details">
                            <div>
                                <li>Name</li>
                                <li>Price</li>
                                <li>Rating</li>
                            </div>
                            <hr>
                        </div>
                        <div class="cart-quantity">
                            <div class="cart-quantity-select">
                                <div class="quantity-input">
                                    <span class="delete-icon" id="delete-icon">🗑</span>
                                    <button class="quantity-btn" >-</button>
                                    <input type="text" class="quantity-value" id="quantity" value="1" readonly>
                                    <button class="quantity-btn" >+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-product">
                <div class="cart-product-preview">
                    <div class="cart-image"><img src="/images/product_test_image.jpg" alt="prodImg"></div>
                    <div class="cart-details">
                        <div class="cart-prod-details">
                            <div>
                                <li>Name</li>
                                <li>Price</li>
                                <li>Rating</li>
                            </div>
                            <hr>
                        </div>
                        <div class="cart-quantity">
                            <div class="cart-quantity-select">
                                <div class="quantity-input">
                                    <span class="delete-icon">🗑</span>
                                    <button class="quantity-btn" >-</button>
                                    <input type="text" class="quantity-value" id="quantity" value="1" readonly>
                                    <button class="quantity-btn" >+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-product">
                <div class="cart-product-preview">
                    <div class="cart-image"><img src="/images/product_test_image.jpg" alt="prodImg"></div>
                    <div class="cart-details">
                        <div class="cart-prod-details">
                            <div>
                                <li>Name</li>
                                <li>Price</li>
                                <li>Rating</li>
                            </div>
                            <hr>
                        </div>
                        <div class="cart-quantity">
                            <div class="cart-quantity-select">
                                <div class="quantity-input">
                                    <span class="delete-icon">🗑</span>
                                    <button class="quantity-btn" >-</button>
                                    <input type="text" class="quantity-value" id="quantity" value="1" readonly>
                                    <button class="quantity-btn" >+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-product">
                <div class="cart-product-preview">
                    <div class="cart-image"><img src="/images/product_test_image.jpg" alt="prodImg"></div>
                    <div class="cart-details">
                        <div class="cart-prod-details">
                            <div>
                                <li>Name</li>
                                <li>Price</li>
                                <li>Rating</li>
                            </div>
                            <hr>
                        </div>
                        <div class="cart-quantity">
                            <div class="cart-quantity-select">
                                <div class="quantity-input">
                                    <span class="delete-icon" id="delete-icon">🗑</span>
                                    <button class="quantity-btn" >-</button>
                                    <input type="text" class="quantity-value" id="quantity" value="1" readonly>
                                    <button class="quantity-btn" >+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="border"></div>
        <div class="checkout-container">
            <!-- <div class="cart-checkout">
                <div class="cart-buy-box">
                    <div class="cart-buy-amount">
                        <span class="amount-text1">&#8377;</span>
                        <span class="amount-amount">1500</span>
                        <span class="amount-text2">Total</span>
                    </div>
                    <div class="checkout-details">
                        <span class="details-text">4 items</span>
                    </div>
                    <div class="show-buy-now cart-buy-interactives">
                        <div>
                            <button id="move-to-checkout" class="buy-now">Check out</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- <script src="https://checkout.razorpay.com/v1/checkout.js"></script> -->
    <script>
        function changeQuantity(change) {
            let quantityInput = document.getElementById("quantity");
            let currentValue = parseInt(quantityInput.value);
            let newValue = currentValue + change;

            if (newValue < 1) newValue = 1;
            quantityInput.value = newValue;
        }
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/customer/functions/cart.js"></script>
    <script src="/js/customer/components/cart.js"></script>
    <script src="/js/customer/cart.js"></script>
    <script>
        // onclick 'move-to-checkout' button redirects to checkout page
    </script>
    <!--
<script></script>
<script>
document.getElementById('rzp-button1').onclick = function (e) {
    rzp1.open();
    e.preventDefault();
}
</script> -->
</body>