<% layout("layouts/boilerplate") %>
<body>
    <div class="chkOut-customer-orders">
        <div class="chkOut-order">
            <div class="chkOut-header"><span>Product Name</span></div>
            <div class="chkOut-preview">
                <div class="chkOut-image"><img src="/images/product_test_image.jpg" alt="prodImg"></div>
                <div class="chkOut-details">
                    <div class="chkOut-prod-details"></div>
                    <div class="chkOut-quantity">
                        <div class="chkOut-quantity-select">
                            <select class="custom-select chkOut-qty-select">
                                <option selected>Select Qty</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chkOut-order">
            <div class="chkOut-header"><span>Product Name</span></div>
            <div class="chkOut-preview">
                <div class="chkOut-image"><img src="/images/product_test_image.jpg" alt="prodImg"></div>
                <div class="chkOut-details">
                    <div class="chkOut-prod-details"></div>
                    <div class="chkOut-quantity">
                        <div class="chkOut-quantity-select">
                            <select class="custom-select chkOut-qty-select">
                                <option selected>Select Qty</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chkOut-checkout">

    </div>
</body>