<% layout("layouts/boilerplate") %>
<body>
    <div class="chkOut-customer-orders">
        <div class="chkOut-order">
            <div class="chkOut-header">
                <div>orderId : #12AB4</div>
                <!-- <div>random</div> -->
                <div class="end">24-05-25</div>
            </div>
            <div class="chkOut-preview">
                <div class="chkOut-image"><img src="/images/product_test_image.jpg" alt="prodImg"></div>
                <div class="chkOut-details">
                    <div class="chkOut-prod-details">
                        <div>
                            <li>Name</li>
                            <li>Price</li>
                            <li>Amount</li>
                            <li>Rating</li>
                        </div>
                        <hr>
                    </div>
                    <div class="chkOut-quantity">
                        <div class="chkOut-quantity-select">
                            <select class="custom-select chkOut-qty-select">
                                <option selected>Select Qty</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chkOut-order">
            <div class="chkOut-header">
                <div>orderId : #12AB4</div>
                <!-- <div>random</div> -->
                <div class="end">24-05-25</div>
            </div>
            <div class="chkOut-preview">
                <div class="chkOut-image"><img src="/images/product_test_image.jpg" alt="prodImg"></div>
                <div class="chkOut-details">
                    <div class="chkOut-prod-details">
                        <div>
                            <li>Name</li>
                            <li>Price</li>
                            <li>Amount</li>
                            <li>Rating</li>
                        </div>
                        <hr>
                    </div>
                    <div class="chkOut-quantity">
                        <div class="chkOut-quantity-select">
                            <select class="custom-select chkOut-qty-select">
                                <option selected>Select Qty</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chkOut-checkout">
        <div class="chkOut-buy-box">
            <div class="chkOut-buy-amount">1500</div>
            <div class="show-buy-now chkOut-buy-interactives">
                <div>
                    <button class="buy-now">Check out</button>
                </div> 
            </div>
        </div>
    </div>
</body>