<% layout("layouts/boilerplate") %>

<body>
    <div class="customer-profile-container">
        <div class="profile-options">
            <div class="option" id="orders-btn"><p>Your orders</p></div>
            <div class="option" id="account-btn"><p>Your account</p></div>
        </div>
    </div>
    <div class="default"></div>
    <div class="customer-orders">
        <div class="order">
            <div class="header"></div>
            <div class="preview">
                <div class="image"><img src="/images/product_test_image.jpg" alt="prodImg"></div>
                <div class="details"></div>
            </div>
        </div>
        <div class="order">
            <div class="header"></div>
            <div class="preview">
                <!-- image of multiple products will be shown-->
                <div class="image"><img src="/images/product_test_image.jpg" alt="prodImg"></div>
                <!-- details of the order will be shown and not the products -->
                <div class="details"></div>
            </div>
        </div>
    </div>
    <div class="customer-account">
        <div class="details">
            <div class="header">
                <img src="/images/profileTest2.jpg" alt="profileImg">
                <!-- <div>NAME</div> -->
            </div>
            <div class="main main-content">
                <label for="1">Label</label>
                <div id="1">
                    <input type="text">
                </div>

                <label for="2">Label</label>
                <div id="2">
                    <input type="text">
                    <button><i class="fa-solid fa-pen-to-square"></i></button>
                </div>

                <label for="3">Label</label>
                <div id="3">
                    <input type="text">
                    <button><i class="fa-solid fa-pen-to-square"></i></button>
                </div>

                <label for="4">Label</label>
                <div id="4">
                    <input type="text">
                </div>
            </div>
        </div>
    </div>
    <script>
        const def = document.querySelector(".default");
        const orders = document.querySelector(".customer-orders");
        const account = document.querySelector(".customer-account");
        const orders_btn = document.getElementById("orders-btn");
        const account_btn = document.getElementById("account-btn");

        orders_btn.addEventListener("click", ()=>{
            def.style.display="none";
            account.style.display = "none";
            account_btn.classList.remove("option-active");
            orders.style.display = "grid";
            orders_btn.classList.add("option-active");
        });
        account_btn.addEventListener("click", ()=>{
            def.style.display="none";
            orders.style.display = "none";
            orders_btn.classList.remove("option-active");
            account.style.display = "grid";
            account_btn.classList.add("option-active");
        });
        // const doc = {
        //     orders : document.querySelector(".customer-orders"),
        //     account : document.querySelector(".customer-account"),
        // }
        // const btn = {
        //     orders : document.querySelector("#orders-btn"),
        //     account : document.querySelector("#account-btn"),
        // }
        // console.log(btn.orders);

        // const hideElement = (ele) => {
        //     doc[`${ele}`].style.display = "none";
        //     btn[`${ele}`].classList.remove("option-active");
        // }
        // const showElement = (ele) => {
        //     doc[`${ele}`].style.display = "grid";
        //     btn[`${ele}`].classList.add("option-active");
        // }

        // btn.orders.addEventListener("click", ()=>{
        //     hideElement(account);
        //     showElement(orders);
        // });

        // btn.account.addEventListener("click", ()=>{
        //     hideElement(orders);
        //     showElement(account);
        // })

        // Object.keys(doc).forEach((ele)=>{
        //     btn[`${ele}`].addEventListener("click", ()=>{

        //     })
        // })

    </script>
</body>