<% layout("layouts/boilerplate") %>
<body>
    <div class="show-main">
        <div class="show-image">
            <!-- <div class="thumbnails"></div> -->
            <div class="show-preview"><img src="/images/product_test_image.jpg"></div>
        </div>
        <div class="show-product">
            <div class="show-info">
                <div class="show-name">Product Name<hr></div>
                
                <div class="show-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus error, rerum suscipit magni a magnam sint tempora similique fugit.
                </div>
                <div class="show-details">
                    Description <br>
                    Description <br>
                    Description <br>
                    Description <br>
                    Description <br>
                </div>
            </div>
            <div class="show-buy">
                <div class="show-amount-wrapper">
                    <div class="show-amount">&#8377;1574</div>
                    <div class="show-stock">In Stock</div>
                </div>
                <div class="show-interactives">
                    <div class="show-quantity">
                        <select class="custom-select">
                            <option selected>Open this select menu</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="show-add-to-cart">
                        <button class="add-to-cart">Add to cart</button>
                    </div>
                    <div class="show-buy-now">
                        <button class="buy-now">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>