<% layout("layouts/boilerplate") %>

<body>
    <div class="trending-products-container">
        <div class="trending-products">
            <p>Trending items</p>
        </div>
    </div>
    <div class="products-container">
        <div class="products">
            <div class="product">
                <img src="/images/product_test_image.jpg" alt="Bag 1">
                <div class="product-info">
                    <div class="info">
                        <div class="product-title">Product</div>
                        <div class="product-price">$15.00</div>
                        <!-- <button class="add-to-cart">Add to Cart</button> -->
                    </div>
                </div>
            </div>
            <div class="product">
                <img src="/images/product_test_image.jpg" alt="Bag 1">
                <div class="product-info">
                    <div class="info">
                        <div class="product-title">Product</div>
                        <div class="product-price">$15.00</div>
                        <!-- <button class="add-to-cart">Add to Cart</button> -->
                    </div>
                </div>
            </div>
            <div class="product">
                <img src="/images/product_test_image.jpg" alt="Bag 1">
                <div class="product-info">
                    <div class="info">
                        <div class="product-title">Product</div>
                        <div class="product-price">$15.00</div>
                        <!-- <button class="add-to-cart">Add to Cart</button> -->
                    </div>
                </div>
            </div>
            <div class="product">
                <img src="/images/product_test_image.jpg" alt="Bag 1">
                <div class="product-info">
                    <div class="info">
                        <div class="product-title">Product</div>
                        <div class="product-price">$15.00</div>
                        <!-- <button class="add-to-cart">Add to Cart</button> -->
                    </div>
                </div>
            </div>
            <div class="product">
                <img src="/images/product_test_image.jpg" alt="Bag 1">
                <div class="product-info">
                    <div class="info">
                        <div class="product-title">Product</div>
                        <div class="product-price">$15.00</div>
                        <!-- <button class="add-to-cart">Add to Cart</button> -->
                    </div>
                </div>
            </div>
            <div class="product">
                <img src="/images/product_test_image.jpg" alt="Bag 1">
                <div class="product-info">
                    <div class="info">
                        <div class="product-title">Product</div>
                        <div class="product-price">$15.00</div>
                        <!-- <button class="add-to-cart">Add to Cart</button> -->
                    </div>
                </div>
            </div>
            <div class="product">
                <img src="/images/product_test_image.jpg" alt="Bag 1">
                <div class="product-info">
                    <div class="info">
                        <div class="product-title">Product</div>
                        <div class="product-price">$15.00</div>
                        <!-- <button class="add-to-cart">Add to Cart</button> -->
                    </div>
                </div>
            </div>
            <div class="product">
                <img src="/images/product_test_image.jpg" alt="Bag 1">
                <div class="product-info">
                    <div class="info">
                        <div class="product-title">Product</div>
                        <div class="product-price">$15.00</div>
                        <!-- <button class="add-to-cart">Add to Cart</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/store.js"></script>
</body>