<% layout("layouts/boilerplate") %>

<body>
    <div class="customer-profile-container">
        <div class="profile-options">
            <div class="option"><p>Your orders</p></div>
            <div class="option"><p>Your account</p></div>
        </div>
    </div>
    <div class="customer-orders">
        <div class="order">
            <div class="details-header"></div>
            <div class="preview">
                <div class="image"><img src="/images/product_test_image.jpg" alt="prodImg"></div>
                <div class="details"></div>
            </div>
        </div>
        <div class="order">
            <div class="details-header"></div>
            <div class="preview">
                <div class="image"><img src="/images/product_test_image.jpg" alt="prodImg"></div>
                <div class="details"></div>
            </div>
        </div>
    </div>
    <div class="customer-account"></div>
</body>