.chkOut-customer-orders{
    width:100%;
    /* height: 636.4px; */  /* remove comment */
    padding: 15px 0;
    display: grid;
    align-items: start;
    justify-items:center;
    overflow-x: hidden; 
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.chkOut-customer-orders::-webkit-scrollbar, .customer-account::-webkit-scorllbar {
    display: none;
}
.chkOut-order{
    position:static;
    width: 724.88px;
    height: 288.2px;
    margin: 20px;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 10px;
}
.chkOut-order .chkOut-header{
    height: 15%;
    width: 100%;
    border-bottom: 1px solid rgb(172, 172, 172);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.chkOut-header div{
    width: 32%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.end{
    justify-content:end !important;
}
.chkOut-order .chkOut-preview{
    height: 85%;
    width: 100%;
    display:flex;
}
.chkOut-order .chkOut-preview .chkOut-image{
    height:100%;
    width:35%;
}
.chkOut-order .chkOut-preview .chkOut-image img{
    height:100%;
    width:100%;
    border-bottom-left-radius: 10px;
}
.chkOut-order .chkOut-preview .chkOut-details{
    height:100%;
    width:65%;
    border-bottom-right-radius: 10px;
    direction: flex;
}
.chkOut-quantity{
    height:40%;
    width:100%;
}
.chkOut-prod-details{
    height:60%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chkOut-prod-details div{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.chkOut-prod-details hr{
    width: 80%;
}
.chkOut-qty-select{
    width: 80%;
    margin-top: 25px;
    transform: scale(0.875);
    /* background-color: #e3e6e668;
    border-color: #d5d9d9a2; */
    opacity: 0.65;
}
.chkOut-checkout{
    /* width: 100%; */
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:100px;
}

.chkOut-buy-box{
    height: 72.5%;
    width: 40%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}
.chkOut-buy-interactives{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.chkOut-buy-interactives div{
    width: 75%;
}
.chkOut-buy-amount{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight:400;
}