.customer-profile-container{
    height:175px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-options{
    height: 80%;
    width: 25%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:15px;
    align-items:center;
    justify-items: center;
}
.option{
    height:40px;
    width:75%;
    color:black;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.option:hover{
    background-color: black;
    color:white;
}
.customer-orders{
    width:100%;
    height: 636.4px;
    padding: 15px 0;
    display: grid;
    align-items: start;
    justify-items:center;
    margin-bottom:100px;
    overflow-x: hidden; 
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.customer-orders::-webkit-scrollbar {
    display: none;
}
.order{
    position:static;
    width: 724.88px;
    height: 288.2px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.order .details-header{
    height: 15%;
    width: 100%;
    border-bottom: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.order .preview{
    height: 85%;
    width: 100%;
    display:flex;
}
.order .preview .image{
    height:100%;
    width:35%;
}
.order .preview .image img{
    height:100%;
    width:100%;
    border-bottom-left-radius: 10px;
}
.order .preview .details{
    height:100%;
    width:65%;
    border-bottom-right-radius: 10px;
}